body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:904.00027273976px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:234px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:112px;
  width:242px;
  height:234px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:41px;
  width:894px;
  height:34px;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:222px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:420px;
  width:300px;
  height:28px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:482px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:573px;
  width:896px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0543541482710455deg);
  -moz-transform:rotate(-0.0543541482710455deg);
  -ms-transform:rotate(-0.0543541482710455deg);
  transform:rotate(-0.0543541482710455deg);
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:614px;
  width:890px;
  height:401px;
}
#u115_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:401px;
  overflow:auto;
}
