body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50.9997272602406px;
  width:896.000545479519px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:234px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:112px;
  width:242px;
  height:234px;
  display:flex;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:41px;
  width:894px;
  height:34px;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:222px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:420px;
  width:300px;
  height:28px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:590px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:680px;
  width:896px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0543541482710455deg);
  -moz-transform:rotate(-0.0543541482710455deg);
  -ms-transform:rotate(-0.0543541482710455deg);
  transform:rotate(-0.0543541482710455deg);
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:721px;
  width:890px;
  height:401px;
}
#u225_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:401px;
  overflow:auto;
}
