body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:934.000272739759px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:131px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:260px;
  width:796px;
  height:496px;
}
#u159_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:496px;
  overflow:auto;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:830px;
  width:896px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0543541482710455deg);
  -moz-transform:rotate(-0.0543541482710455deg);
  -ms-transform:rotate(-0.0543541482710455deg);
  transform:rotate(-0.0543541482710455deg);
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:903px;
  width:890px;
  height:401px;
}
#u161_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:401px;
  overflow:auto;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:49px;
  width:894px;
  height:34px;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:222px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:131px;
  width:190px;
  height:40px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:202px;
  width:435px;
  height:28px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
