body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17.9997272602405px;
  width:896.000545479519px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:21px;
  width:894px;
  height:34px;
}
#u150_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:34px;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:222px;
  height:34px;
  display:flex;
  font-family:'AxureHandwriting', 'Axure Handwriting', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:89px;
  width:803px;
  height:724px;
  display:flex;
}
#u156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:813px;
  width:896px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0543541482710455deg);
  -moz-transform:rotate(-0.0543541482710455deg);
  -ms-transform:rotate(-0.0543541482710455deg);
  transform:rotate(-0.0543541482710455deg);
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:854px;
  width:890px;
  height:401px;
}
#u158_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:401px;
  overflow:auto;
}
